.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.center{
    height:100%;
    justify-content: center;
}
.login-title{
    font-size: 20pt;
    /* margin-left: 14px; */
    padding-bottom: 10px;
}
.big{
    font-size: 18pt;
    /* margin-left: 14px; */
    padding-bottom: 10px;
}
.medium{
    font-size: 16pt;
    /* margin-left: 14px; */
    padding-bottom: 10px;
}